@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET hahahâ khoi vao roi Core</a>.</p>
</div>
<div>
    <label>Thương: Nhập tin nhắn:</label>
    <input id="tinnhan" />
    <button onclick="GuiTinNhan('thuong')">Gửi</button>
</div>
<div>
    <label> Linh: Nhập tin nhắn:</label>
    <input id="tinnhan-linh" />
    <button onclick="GuiTinNhan('linh')">Gửi</button>
</div>
<div>
    <label> Quy: Nhập tin nhắn:</label>
    <input id="tinnhan-quy" />
    <button onclick="GuiTinNhan('quy')">Gửi</button>
</div>
<div>
    <label>Nội dung tin nhắn</label>
    <div id="noidung">        
    </div>
</div>
<script type="text/javascript">
    var tinnhan = document.getElementById("tinnhan").value;    
    function GuiTinNhan(dc) {
        if (dc == 'thuong') {
            tinnhan = document.getElementById("tinnhan").value;
            tinnhan = "Thương : " + tinnhan
        } else if (dc == 'linh') {
            tinnhan = document.getElementById("tinnhan-linh").value;
            tinnhan = "Linh : " + tinnhan
            
        } else {
            tinnhan = document.getElementById("tinnhan-quy").value;
            tinnhan = "Quy : " + tinnhan
        }
        
        // tạo thẻ
        var the_p = document.createElement("P");
        // lấy dl 
        var textnode = document.createTextNode(tinnhan);
        // đưa dl vào thẻ
        the_p.appendChild(textnode);
        // đưa thẻ vô khu vực nội dung
        document.getElementById("noidung").appendChild(the_p);
    }
</script>
